[submodule "materials_django"]
	path = materials_django
	url = git@github.com:materialsproject/materials_django.git
[submodule "pymatpro"]
	path = pymatpro
	url = git@github.com:materialsproject/pymatpro.git
[submodule "crystaltoolkit"]
	path = crystaltoolkit
	url = git@github.com:materialsproject/crystaltoolkit.git
